/config/parameters.yaml
/node_modules/
/public/build/
/public/media/
/public/uploads/
/src/Command/TestCommand.php
/src/Controller/TestController.php
/templates/test/

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###
