/node_modules/
/public/build/
/public/cache/
/public/uploads/
/templates/test/
/config/parameters.yaml
/src/Command/TestCommand.php
/src/Controller/TestController.php

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
