{% use '@RuventsAdmin/forms.html.twig' %}

{% block ruwork_upload_widget %}
    <div class="row">
        {% if data and valid and data.persisted %}
            <div class="col-auto">
                <a href="{{ asset(data) }}" target="_blank">
                    <img src="{{ asset(data) }}" alt="" class="img-thumbnail" style="max-height: 200px;">
                </a>
            </div>
        {% endif %}
        <div class="col">
            {{ form_row(form.uploadedFile, {label: false}) }}
        </div>
    </div>
{% endblock %}
