<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="{{ _charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title '' %}</title>
    <link rel="stylesheet" href="{{ asset('build/styles.css') }}">
    {% block css '' %}
</head>
<body>
    <main class="container">
        {% block main '' %}
    </main>
    <script src="{{ asset('build/app.js') }}"></script>
    {% block js '' %}
</body>
</html>
